.NavContenedor
{
    width: 100%;
    height: 55px;
    background-color: #eaeaea;
    overflow: hidden;
    position: relative;
}
.LogOut
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}