<div class="NavContenedor">
  <div class="container">
      <div class="logoax"></div>

        
      <!-- <div class="LogOut" (click)="OnLogout()">
          
            <p>Salir
                Status: {{Logged}};
            </p>
      </div> -->
      <div class="logotsw"></div>
  </div>
</div>