
<div class="containermap">
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="6.5" [tilt]="'45'" >
  
      <agm-marker 
      *ngFor="let m of arreglo; let i = index"
      [latitude]="m.latitud"
      [longitude]="m.longitud"
      [iconUrl]="'../../../../assets/icon'+m.nivel+'.png'"
      
      
     >
      
    <agm-info-window>
      <ul>
          <li class="TituloTalador titulosmarker"><strong><!--  Taladro = --> {{m.punto}}</strong></li>
          <li class="TituloCliente titulosmarker"><div class="iconmarker iconmarker2"></div><strong><!--Cliente = -->{{m.cliente}}</strong></li>
          <li class="TituloLongitud titulosmarker"><div class="iconmarker iconmarker3"></div><strong>Lon: {{m.longitud}}</strong></li>
          <li class="TituloLatitud titulosmarker"><strong> Lat: {{m.latitud}}</strong></li>
          
          <li class="TituloTormenta titulosmarker"><div class="iconmarker iconmarker5"></div><strong>Nivel de Alerta Tormenta {{m.nivel}}</strong><img src="../../../../assets/icon{{m.nivel}}.png" alt=""></li>
          <li class="TituloAlerta titulosmarker"><div class="iconmarker iconmarker6"></div><strong>Última Alerta </strong><span class="spanFecha">{{m.fecha}}</span>  <span class="spanHora">{{m.hora}}</span></li>
      </ul>
    </agm-info-window>
    
  </agm-marker>

  <agm-marker 
        *ngFor="let m of arreglo2; let i = index"
        [latitude]="m.latitud"
        [longitude]="m.longitud"
        [animation] = "'BOUNCE'"
        [iconUrl]="'../../../assets/iconAlert.png'" 
       >
        
      <agm-info-window>
        <ul>
            <li><strong>Unidad = {{m.unidad}}</strong></li>
            <li><strong>Mensaje = {{m.mensaje}}</strong></li>
            <li><strong>Fecha Hora = {{m.fechaHora}}</strong></li>
            <li><strong>Latitud = {{m.latitud}}</strong></li>
            <li><strong>longitud = {{m.longitud}}</strong></li>
 
          </ul>
       
      </agm-info-window>
      
    </agm-marker>

</agm-map>
<audio class="audio">
  <source src="../../../assets/alert.mp3" type="audio/ogg">
  </audio>

</div>