<div class="container">
<div class="row-fluid containerregistro">

<form class="form-horizontal" #FormRegister="ngForm" (ngSubmit)="onAgregarUser()">
  <fieldset>
  
  <div class="tituloformulario">
  <p>Registro Nuevo usuario</p>
  </div>

   <!-- Text Nombre de usuario-->
   <div class="control-group">
    
    <div class="col-md-4">
    <input  [(ngModel)] ="Nombre_Usuario"
     id="Nombre_Usuario" name="textinput" type="text" placeholder="Nombre Usuario" class="form-control input-md textoregistro" autocomplete="off" >
   
    </div>
  </div>
  <!-- Text Email-->
  <div class="control-group">
    
    <div class="col-md-4">
    <input  [(ngModel)] ="email"
     id="email" name="textinput" type="text" placeholder="Correo" class="form-control input-md textoregistro" autocomplete="off" >
   
    </div>
  </div>
  
  <!-- Text Empresa-->
  <div class="control-group">
    
    <div class="col-md-4">
    <input
    [(ngModel)] ="Empresa" id="Empresa" name="textinput" type="text" placeholder="Cliente" class="form-control input-md textoregistro" autocomplete="off" >
    
    </div>
  </div>

  <!-- Password Contraseña-->
  <div class="control-group">
    
    <div class="col-md-4">
      <input  [(ngModel)] ="pass"
       id="pass" name="passwordinput" type="text" placeholder="Contraseña" class="form-control input-md textoregistro" autocomplete="off">
      
    </div>
  </div>

  <!-- Text Rol-->
  <div class="control-group">
    
      <div class="col-md-4">
      <input
      [(ngModel)] ="RolUser" id="RolUser" name="textinput" type="text" placeholder="Rol Usuario " class="form-control input-md textoregistro" autocomplete="off">
      
      </div>
    </div>



  <div class="control-group">
   
    <div class="col-md-4">
      <input class="btn btn-primary btn-large btn-block" type="submit" value="Registrar"> 
    </div>
  </div>



  </fieldset>
  </form>
  <div class="alertasregistro">
    <div class="alert alert-success MostrarAlertaCorrecto" role="alert">
      Nuevo Usuario Creado!!!
    </div>
    <div class="alert alert-danger MostrarAlertafallo" role="alert">
      This is a danger alert—check it out!
    </div>
  </div>
  
</div>

    
</div>
