.containerregistro
{
    width: 60%;
    margin: 140px auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.tituloformulario
{
    width: 100%;
    height:80px;
    
}
.tituloformulario p
{
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    font-weight: 600;
}
.containerregistro .form-control
{
    width: 97%;
    height: 50px;;
}
.containerregistro .form-control
{
    font-size:16px;
}
.alertasregistro
{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}
.MostrarAlertaCorrecto,.MostrarAlertafallo
{
    display: none;
}