.NavBarUser
{
    width: 100%;
    height: 110px;
    background-color: #04154b;
}
.btnNavBarAdmin
{
    height: 110px;
    font-size: 17px;
    line-height: 17px;
    float: right;
    cursor: pointer;
    background-color: #b7cad8;
    position: relative;
    border-right: 1px solid #85a6bd;
}
.btnNavBarAdmin:hover
{
    background-color: rgba(183, 202, 216, 0.6);
}
.btnNavBarAdmin p
{   
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 65px;
}
.Btn3NavbarAdmin
{
    float: left;
    z-index: 1;
    position: absolute;
    right: 0px;
}

.iconbtnNavbarAdmin
{
    width: 25px;
    height: 25px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.icon3btnNavbarAdmin
{
    background-image: url('../../../assets/logout.svg');    
}




.NavAdminBar
{
    width: 300px;
    height: 70px;
    background: rgba(92,53,133,0.5); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(92,53,133,0.5) 0%, rgba(50,180,207,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(92,53,133,0.5) 0%,rgba(50,180,207,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(92,53,133,0.5) 0%,rgba(50,180,207,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3585', endColorstr='#32b4cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    left: 30px;
    z-index: 10;
    top: 30px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/Fondo.svg');
}

.contenedoritemsBarAdmin
{
    width: 235px;
    height: 0px;
    left: 95px;
    top: 130px;
    position: absolute;
    z-index: 10;
    transition: .9s;
    -moz-transition: .9s;
    -webkit-transition: .9s;
    -o-transition: .9s;
    overflow: hidden;
}
.ActivarBarAdmin
{
    height: 250px;
}
.itemNavBarAdmin
{
    width: 100%;
    height: 40px;
    margin-bottom: 15px; 
    background: rgba(92,53,133,0.5); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(92,53,133,0.5) 0%, rgba(50,180,207,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(92,53,133,0.5) 0%,rgba(50,180,207,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(92,53,133,0.5) 0%,rgba(50,180,207,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3585', endColorstr='#32b4cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50px;        
}
.itemNavBarAdmin .iconVarItem
{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-left: 10px;
}

/* 1b74bd */
.itemNavBarAdmin:hover
{
    background-color: #ffffff;
    cursor: pointer;
}
.iconVarItem1
{
    background-image: url('../../../assets/NewUser.svg');
}
.iconVarItem2
{
    background-image: url('../../../assets/MapaAdmin.svg');
}

.iconVarItem3
{
    background-image: url('../../../assets/Convenciones.svg');
}

.iconVarItem4
{
    background-image: url('../../../assets/CerrarSesion.svg');
}


.itemNavBarAdmin p
{
    font-size: 18px;
    line-height: 40px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
    font-weight: bold;
    margin-left: 14px;
}